<h1><%= @entry.title %></h1>
<p><strong>Date:</strong> <%= @entry.occurred_on %></p>
<p><strong>Description:</strong></p>
<p><%= @entry.description %></p>

<% if @entry.image.attached? %>
  <h3>Attached Image:</h3>
  <%= image_tag @entry.image, class: "img-fluid", alt: "Entry Image" %>
<% end %>

<%= link_to "Back to Place", place_path(@entry.place), class: "btn btn-secondary" %>
